[submodule "ThirdParty/AndroidCommons"]
	path = ThirdParty/AndroidCommons
	url = https://github.com/Sherchen/AndroidCommons.git
[submodule "ThirdParty/ArchitectureTemplate"]
	path = ThirdParty/ArchitectureTemplate
	url = https://github.com/Sherchen/ArchitectureTemplate.git
